body {
    background-color: #F5F3FF;
    align-items: center;
   
    }
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.add-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #fff;
    padding: 20px;
    width:30vw;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    text-align: center;
}

.add-page form input,
.add-page form select,
.add-page form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
    transition: box-shadow 0.3s ease;
    border: 1px solid #afbbec;
    width: 100%;
}

.add-page form input:focus,
.add-page form select:focus,
.add-page form textarea:focus {
    box-shadow: 0 0 5px #007bff;
}

.add-page form button {
    width: 20%; 
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px;
}

.add-page form button:hover {
    background-color: #3a3aff;
}
